/* || HTML RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || ANIMATIONS */

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform:  translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform:  translateY(0);
        opacity: 1;
    }
}

/* UTILITY CLASSES */

.underlined-heading {
    display: inline-block;
    font-size: 3rem;
}

.underlined-heading::after {
    background-color: #000;
    content: "";
    display: block;
    height: 3px;
    width: 4rem;
    transform: translateY(5px);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || GENERAL STYLES */
body {
    font-family: 'Work Sans', sans-serif;
}

/* || TYPOGRAPHY */

/* || HEADER AND NAVIGATION */
header {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

@media screen and (max-width: 480px) {
    header {
        padding: 2.5rem;
    }
}

.navigation {
    width: 60%;
    margin: 0 auto;
}

.navigation__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation__links a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

/* || GRID CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin-top: 3rem
}

@media screen and (max-width:480px) {
    .grid-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* || INTRODUCTION TEXT */

.introduction-text {
    margin: auto 0;
    text-align: right;
    animation: 1s 1 normal slide-in-left;
}

.introduction-text__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.introduction-text__subheading {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.introduction-text__button {
    border: 2px solid #fff;
    border-radius: 100rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: .5rem;
    padding: .75rem 1rem;
    transition: 100ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.introduction-text__button:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 480px) {
    .introduction-text {
        height: 100vh;
        text-align: center;
    }

    .introduction-text__heading {
        font-size: 2.4rem;
    }

    .introduction-text__subheading {
        font-size: 1.5rem;
    }

    .introduction-text__button {
        font-size: 1.2rem;
        padding: .5rem .75rem;
    }
}

/* || POTRAIT IMAGE */

.potrait {
    display: flex;
    justify-content: center;
    align-items: center;
}

.potrait img {
    animation: 1s 1 normal slide-in-bottom;
    clip-path: polygon(16% 0%, 100% 0%, 84% 100%, 0% 100%);
    height: auto;
    margin: 0 auto;
    width: 60%;
}

@media screen and (max-width: 480px) {
    .potrait img {
        clip-path: none;
        height: auto;
        width: 200px;
        margin-left: auto;
        margin-bottom: 2rem;
    }
}

/* || ALL SECTIONS */
.main-section {
    padding: 4rem;
}

/* || ABOUT ME SECTION */
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me__heading {
    text-align: center;
}

.about-me__text {
    color: #626262;
    font-size: 2rem;
    line-height: 4rem;
    text-align: right;
}

/* || PROJECT SECTION */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects__heading {
    text-align: center;
}

.projects__items {
    display: grid;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-card {
    background-color: #000;
    font-size: 1.5rem;
    justify-self: center;
    height: 250px;
    padding: 1rem;
    position: relative;
    width: 250px;
}

.project-card-wrapper {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card-wrapper:hover {
    transform: scale(1.1) translateY(-0.1rem);
}

.project-card::after {
    background-color: #dee2e6;
    content: "";
    display: block;
    height: 250px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 250px;
    z-index: -999;
}

.project-card a {
    color: #fff;
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
}

/* || AWARDS SECTION */
.awards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.awards-item {
    background-color: #000;
    color: #fff;
    padding: 3rem;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 2rem;
}

.awards-item:hover {
    transform: skew(-10deg) scale(1.1);
}

.awards-item:hover .awards-item__container {
    transform: skew(10deg);
}

.awards-item__container {
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.awards-item__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.awards-item__content {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* || FOOTER */
footer {
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
}